.title {
    text-align: center;
}

.checklist {
    padding: 10px;
    padding-bottom: 25px;
}

.items {
    width: 90%;
    margin-left: 5%;
    line-height: 55px;
    text-align: left;
    margin-top: -10px;
    font-size: 12px;
    white-space: nowrap;
  }

.btnContainer {
    width: 60%;
    float: right;
    padding-right: 23px;
    margin-right: 2%;
    margin-bottom: 10px;
  }

.powerContainer{
  width:30%;
  float: left;
  margin-left: -5px;
  margin-bottom: 10px;
}

.tabs{
  padding-left: 25%;
}

.tab1:hover {
  color: rgb(255, 0, 0);
}

.tab2:hover {
  color: rgb(255, 0, 0);
}

.tab1{
  text-align: center;
  width: 45%;
  padding: 0;
  line-height: 24px;
  border: none;
}

.tab1:focus{
  background-color:white;
}

.tab2:focus{
  background-color: white;
}

.tab2{
  text-align: center;
  width: 45%;
  margin-left: 5px;
  padding: 0;
  line-height: 24px;
  border: none;
}

.btnStart {
 width: 100%;
 background-color: brown;
 border-radius: 25px;
 margin-left: 10px;
 padding: 10px;
 font-weight: bold;
 outline: none;
 margin-top:-15px;
}

.btnSettings{
 width: 80%;
 margin-top: 3%;
 margin-left: 14%;
 position: relative;
 border-radius: 25px;
 background-color: rgb(187, 187, 187);
 outline: none;
}

.btnStart:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btnSettings:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.items:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.header{
    left:10px;
    padding-top: 5px;
    font-size: 22px;
}

.headerBreak{
  padding: 1px;
  height:2px;
  border-width: 0;
  color:brown;
  background-color: brown;
  width: 70%;
  float: left;
  margin-left: 10px;
  margin-top: -10px;
}

.logo{
  float: left;
  width: 80px;
  height: 80px;
}

.noTimer{
  float: right;
  width: 40px;
  height: 40px;
}

.settings {
    margin-left: 49px;
}

.showleft{
  display: inherit;
  animation-duration: 1s;
  animation-name: slideinleft;

}

.showright{
  display: inherit;
  animation-duration: 1s;
  animation-name: slideinright;

}

.noShow{
  display: none;
}

.headerUnderlineleft{
  height:2px;
  border-width: 0;
  color:brown;
  background-color: brown;
  width: 34%;
  margin-left: 25%;
}

.headerUnderlineright{
  height:2px;
  border-width: 0;
  color:brown;
  background-color: brown;
  width: 34%;
  margin-left: 60%;
}

@keyframes slideinleft {
  from {
    margin-left: 40%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes slideinright {
  from {
    margin-right: 40%;
  }

  to {
    margin-right: 0%;
  }
}
.smallbuttonlogo{
  float:left;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  margin-left: -10px;
  padding-right: 15px;
}

.buttonlogo {
  float: left;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  padding-right: 25px;
}

.rightChevron {
  float:right;
  vertical-align: middle;
  padding-bottom: 5px;
  width: 60px;
  height: 60px;
}

.powerButton{
  float: left;
  width: 60px;
  height: 60px;
  padding-left: 37%;
  margin-top:-15px;
}

.blockerWriting{
  font-family: Arial;
  font-size: 15px;
  padding-left: 28%;
  margin-top: 10px;
  
}

.holder{
  padding-top: 350px;
}