.title {
    text-align: center;
}

.checklist {
    padding: 60px;
    padding-left: 135px;
}

.items {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.btnContainer {
    width: 150px;
    margin-right: auto;
    margin-left: auto;
}

.newRestrictionStyle{

}

.preRestrictionStyle{

}

.tab:hover {
  color: yellow;
}

.btn {
 width: 80%;
 display: block;
 height: 40px;
}

.header{
    position: relative;
    top: 20px;
    left:10px;
    font-size: 30px;
}

.headerBreak{
  padding: 1px;
  height: 10px;
}

.logo{
  float: left;
  width: 70px;
  height: 70px;
}

.noTimer{
  float: right;
  width: 70px;
  height: 70px;
}

.settings {
    margin-left: 49px;
}

.headerBreak{
  height:2px;
  border-width: 0;
  color:brown;
  background-color: brown;
}

.show{
  display: inherit;
  animation-duration: 3s;
  animation-name: slidein;
}

.noShow{
  display: none;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
