.header{
  position: relative;
  top: 20px;
  left:10px;
  font-size: 30px;
}

.headerBreak{
  padding: 1px;
  height:2px;
  width: 80%;
  margin-right: 100px;
  border-width: 0;
  color:brown;
  background-color: brown;
}

.logo{
  float: left;
  width: 70px;
  height: 70px;
}

.greeting{
  position: middle;
  padding-top: 20px;
  left:10px;
  font-size: 20px;
}

.queryContainer{
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

input[type=text]:focus {
  transition: none;
}

input[type=text], select {
  width: 80%;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.block{
  background-color: rgb(180, 43, 43);
  color: white;
  padding: 15px;
  width: 80%;
  margin-left: 8%;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.blocked{
  margin-top: 20px;
}

.block:hover {
  background-color: brown;
}

.back{
  margin-left: 28%;
  margin-top: 5px;
  width: 40%;
  border-radius: 25px;
  background-color: rgb(215, 223, 215);
  margin-bottom: 10px;
}

.back:hover{
  background-color:rgb(185, 192, 185);
}

.pagelogo{
  width: 120px;
  height: 120px;
  display: block;
  margin-left: 35%;
}

.addBtn{
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
  width: 40%;
  border-radius: 25px;
  background-color: rgb(215, 223, 215);
}

.addBox{
  width: 100%;
}
ul{
  list-style-type: none;
  padding-right: 10px;
}

ul li {
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  float: right;
  width: 100%;


  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.instructions{
  font-size: 17px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

